.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputName {
    border: goldenrod;
    @media (width > 768px) {
        font-size: 22px;
    }
}

.labelName {
    @media (width > 768px) {
        font-size: 22px;
    }
}

.labelHouse {
    @media (width > 768px) {
        font-size: 22px;
    }
}
.optionHouse {
    border: goldenrod;
    @media (width > 768px) {
        font-size: 20px;
    }
}
.labelGender {
    @media (width > 768px) {
        font-size: 22px;
    }
}