.resetbutton {
    background-color: rgb(159,117,27);
    border-radius: 5px;
    color: palegoldenrod;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
        &:hover{
            background-color: palegoldenrod;
            color: rgb(159,117,27);
    }
    @media (width > 768px) {
        font-size: 18px;
    }
}